/* Custom Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f3f3f3;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ff6b00; /* secondary color */
  border-radius: 10px;
  border: 2px solid #f3f3f3;
}

::-webkit-scrollbar-thumb:hover {
  background: #111111;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ff6b00 #f3f3f3;
}